

* {
    box-sizing: border-box;/** preenche uma borda em volta do elemento **/
    outline: none; /** remove a borda dos elementos selecionados **/
    transition: .1s;/** suvisa o movimento dos elementos**/
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 1rem 0;
    
}

a {
    color: steelblue;
    text-decoration: none;
}

a:hover {
    color: orangered;
    text-decoration: underline;
}
body {
    background-image: url("../assets/img/bg01.jpg");
    background-color: white;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  
header {
    display: flex;
   align-items: center;
   flex-wrap: wrap;
   background-color:rgb(138, 255, 202);
}

header img {
   display: block;
   width: 4.5rem;
   height: 4.5rem;
   margin-top: 0.3rem;
   margin-bottom: 0.3rem;
   margin-left: 0.3;
   margin-right: 0.6;
}

header h1 {
   margin: 0;
}

header nav {
   width: 100%;
   text-transform: uppercase;
}

body {
    min-width: 768px;
}
nav {
    background-color: rgb(3, 74, 42);
    text-align: center;
}
nav a {
    margin: 1rem;
}
h1 {
    font-size: 1.8rem;
}

article {
    background-color: rgb(248, 248, 248);
}


aside {
    width: 200px;
    background-color: rgb(204,255,218);
}

main {
    display: flex;
    padding: 0,1rem;
}

footer {
    display: flex;
    width: 100%;
    background-color: rgb(0,64,16);
    color: rgb(224,255,224);
}

footer a {
    font-size: 1.3rem;
    padding: 0.5rem;
}



    

